<!-- Header -->
<header id="header">
  <h1>La Newsletter Design Mensuelle</h1>
  <p>Tous les mois, des articles et inspirations design soigneusement sélectionnés.<br />
  Votre nouvelle anti-sèche pour garder un oeil sur les tendances.</p>
</header>

<!-- Signup Form -->
<form class="signup-form" method="post" action="//blaaast.us12.list-manage.com/subscribe/post?u=5cff22bc6dceaf81b4249eac2&amp;id=02edf43b8b">
  <input type="email" name="EMAIL" id="email" placeholder="Votre adresse email" />
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5cff22bc6dceaf81b4249eac2_02edf43b8b" tabindex="-1" value=""></div>
  <input type="submit" value="Je m'inscris" name="subscribe" />
</form>

<!-- Past campaigns -->
<p><a href="http://us12.campaign-archive2.com/home/?u=5cff22bc6dceaf81b4249eac2&id=02edf43b8b" target="_blank" title="Archives de nos newsletters">&rarr; Toutes nos newsletters</a></p>

